force-app/main/default/flows/Dispatch_Product_Info_price_update_acc_to_pricebook.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_The_Price_0</name>
        <label>Assign The Price</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Each_Product_Info_In_Dispatch.Minimum_Required_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_matching_pricebookentry.Dealer_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Each_Product_Info_In_Dispatch.Minimum_Required_Rate__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Find_matching_pricebookentry.Advance_Payment_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PI_with_new_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_The_Price_0_0</name>
        <label>Assign The Price</label>
        <locationX>528</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Each_Product_Info_In_Dispatch.Minimum_Required_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_matching_pricebookentry.Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Each_Product_Info_In_Dispatch.Minimum_Required_Rate__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Find_matching_pricebookentry.Advance_Payment_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PI_with_new_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_The_Price_0_0_0</name>
        <label>Assign The Price</label>
        <locationX>792</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Each_Product_Info_In_Dispatch.Minimum_Required_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_matching_pricebookentry.Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PI_with_new_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_The_Price_0_0_0_0</name>
        <label>Assign The Price</label>
        <locationX>1056</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Each_Product_Info_In_Dispatch.Minimum_Required_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_matching_pricebookentry.Dealer_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PI_with_new_Price</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Dealer_Distributor_Rate</name>
        <label>Dealer/Distributor Rate</label>
        <locationX>660</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assign_The_Price_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dealer Credit Rate</defaultConnectorLabel>
        <rules>
            <name>Dealer_Advance_Rate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dispatch.Distributor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a032w00000FcumH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dispatch.Dispatch_Credit_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dispatch.Previous_Outstanding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_The_Price_0</targetReference>
            </connector>
            <label>Dealer Advance Rate</label>
        </rules>
        <rules>
            <name>Distributor_Advance_Rate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dispatch.Distributor__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a032w00000FcumH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dispatch.Dispatch_Credit_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dispatch.Previous_Outstanding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_The_Price_0_0</targetReference>
            </connector>
            <label>Distributor Advance Rate</label>
        </rules>
        <rules>
            <name>Distributor_Credit_Rate</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Dispatch.Distributor__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a032w00000FcumH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dispatch.Dispatch_Credit_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dispatch.Previous_Outstanding__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_The_Price_0_0_0</targetReference>
            </connector>
            <label>Distributor Credit Rate</label>
        </rules>
    </decisions>
    <interviewLabel>Dispatch - Product Info price update acc to pricebook {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dispatch - Product Info price update acc to pricebook</label>
    <loops>
        <name>Each_Product_Info_In_Dispatch</name>
        <label>Each Product Info In Dispatch</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Product_Infos_in_Dispatch</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_matching_pricebookentry</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_matching_pricebookentry</name>
        <label>Find matching pricebookentry</label>
        <locationX>660</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dealer_Distributor_Rate</targetReference>
        </connector>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Each_Product_Info_In_Dispatch.Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PriceBook__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dispatch.PriceBook__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Qty__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Each_Product_Info_In_Dispatch.Pondliner_Size_Requested_Required_Sq_Mt__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Qty__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Each_Product_Info_In_Dispatch.Pondliner_Size_Requested_Required_Sq_Mt__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Qty__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PriceBookEntry__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Price__c</queriedFields>
        <queriedFields>Dealer_Price__c</queriedFields>
        <queriedFields>Advance_Payment_Discount__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Product_Infos_in_Dispatch</name>
        <label>Product Infos in Dispatch</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_Product_Info_In_Dispatch</targetReference>
        </connector>
        <filters>
            <field>Dispatch_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dispatch.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Remarks__c</queriedFields>
        <queriedFields>Pondliner_Size_Requested_Required_Sq_Mt__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_PI_with_new_Price</name>
        <label>Update PI with new Price</label>
        <locationX>660</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Each_Product_Info_In_Dispatch</targetReference>
        </connector>
        <inputReference>Each_Product_Info_In_Dispatch</inputReference>
    </recordUpdates>
    <startElementReference>Product_Infos_in_Dispatch</startElementReference>
    <status>Active</status>
    <variables>
        <description>The triggering dispatch</description>
        <name>Dispatch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Dispatch__c</objectType>
    </variables>
</Flow>
