force-app/main/default/flows/Link_Performance_Tracker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Monthly_Achievement</name>
        <label>Set Monthly Achievement</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Get_Performance_Tracker.Monthly_Achievement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MonthlyAchievementCalculator</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_if_performance_tracker_exists</name>
        <label>Check if performance tracker exists</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Performance_Tracker.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Monthly_Achievement</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
        <rules>
            <name>Not_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Performance_Tracker.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Performance_Tracker</targetReference>
            </connector>
            <label>Not exists</label>
        </rules>
    </decisions>
    <formulas>
        <name>MonthlyAchievementCalculator</name>
        <dataType>Number</dataType>
        <expression>{!Get_Performance_Tracker.Monthly_Achievement__c}+20</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Link Performance Tracker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Link Performance Tracker</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Performance_Tracker</name>
        <label>Create Performance Tracker</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignRecordIdToReference>Get_Performance_Tracker.Id</assignRecordIdToReference>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Disptach_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <object>Performance_Tracker__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Performance_Tracker</name>
        <label>Get Performance Tracker</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_performance_tracker_exists</targetReference>
        </connector>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dispatch_Month__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Performance_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dispatch_Year__c</elementReference>
            </value>
        </filters>
        <object>Performance_Tracker__c</object>
    </recordLookups>
    <startElementReference>Get_Performance_Tracker</startElementReference>
    <status>Obsolete</status>
</Flow>
