force-app/main/default/flows/Product_Information_PageLayout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>RecordType</name>
        <choiceText>{!Record_Type}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Record_Type</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Record_Type_Decision</name>
        <label>Record Type Decision</label>
        <locationX>128</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Jalasanchay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jalasanchay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jalasanchay_Product_Information</targetReference>
            </connector>
            <label>Jalasanchay</label>
        </rules>
        <rules>
            <name>Retail_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Jalasanchay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retail_Products_Page</targetReference>
            </connector>
            <label>Retail Products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Decision</name>
        <label>Stage Decision</label>
        <locationX>328</locationX>
        <locationY>388</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Interested_Page</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Interested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lost_Reason</targetReference>
            </connector>
            <label>Not Interested Page</label>
        </rules>
        <rules>
            <name>Stage_Equals_Contact_Later1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Later</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Later</targetReference>
            </connector>
            <label>Stage Equals Contact Later</label>
        </rules>
        <rules>
            <name>Stage_Equals_Interested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interested</targetReference>
            </connector>
            <label>Stage Equals Interested</label>
        </rules>
        <rules>
            <name>Stage_Equals_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Converted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jalasanchya_Converted_Error</targetReference>
            </connector>
            <label>Stage Equals Converted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Decision_for_Retail_Products</name>
        <label>Stage Decision for Retail Products</label>
        <locationX>628</locationX>
        <locationY>163</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Equals_Not_Interested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enquiry_Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Interested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Interested</targetReference>
            </connector>
            <label>Equals Not Interested</label>
        </rules>
        <rules>
            <name>Equals_Contact_Later</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enquiry_Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Later</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Later1</targetReference>
            </connector>
            <label>Equals Contact Later</label>
        </rules>
        <rules>
            <name>Equals_Interested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enquiry_Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interested1</targetReference>
            </connector>
            <label>Equals Interested</label>
        </rules>
        <rules>
            <name>Equals_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enquiry_Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Converted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retail_Product_Converted_Error</targetReference>
            </connector>
            <label>Equals Converted</label>
        </rules>
    </decisions>
    <description>Added Dealer With Tehsil field</description>
    <dynamicChoiceSets>
        <name>JalasanchayEnquiryLostReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Opportunity_Lost_to__c</picklistField>
        <picklistObject>Opportunity__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>JalasanchayProductType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Name__c</picklistField>
        <picklistObject>Opportunity__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>JalasanchayStage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Opportunity_Stage__c</picklistField>
        <picklistObject>Opportunity__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>JalasanchyaProduct</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Jalasanchay_Product_Type__c</picklistField>
        <picklistObject>Opportunity__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Product</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Retail_Product__c</picklistField>
        <picklistObject>Opportunity__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordTypeSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RetailProduct</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Retail_Product_Type__c</picklistField>
        <picklistObject>Opportunity__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Product Information PageLayout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Information PageLayout</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Product_Contact_Later</name>
        <label>Create Product Contact Later</label>
        <locationX>645</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>Show_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Address_Landmark__c</field>
            <value>
                <elementReference>Address_Landmark2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>At_Post_Village__c</field>
            <value>
                <elementReference>At_Post_Village2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer__c</field>
            <value>
                <elementReference>Dealer1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_with_Tehsil__c</field>
            <value>
                <elementReference>Dealer_with_Tehsil.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_up_Date__c</field>
            <value>
                <elementReference>Follow_Up_Date1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jalasanchay_Product_Type__c</field>
            <value>
                <elementReference>Product_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pincode__c</field>
            <value>
                <elementReference>Pincode2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pondliner_Size_Requested_Required_Sq_Mt__c</field>
            <value>
                <elementReference>Qty_sq_m_num</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Value__c</field>
            <value>
                <elementReference>Quoted_rate_per_sq_m_curr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Information</name>
        <label>Create Product Information Jalsancahya Interested</label>
        <locationX>771</locationX>
        <locationY>526</locationY>
        <connector>
            <targetReference>Show_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Address_Landmark__c</field>
            <value>
                <elementReference>Address_Landmark3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>At_Post_Village__c</field>
            <value>
                <elementReference>At_Post_Village3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer__c</field>
            <value>
                <elementReference>Dealer.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_with_Tehsil__c</field>
            <value>
                <elementReference>Dealer_with_Tehsil.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_up_Date__c</field>
            <value>
                <elementReference>Follow_Up_Date2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jalasanchay_Product_Type__c</field>
            <value>
                <elementReference>Product_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pincode__c</field>
            <value>
                <elementReference>Pincode3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pond_Size_Sq_Mtr__c</field>
            <value>
                <elementReference>Size_of_Pond_LxWxD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pondliner_Size_Requested_Required_Sq_Mt__c</field>
            <value>
                <elementReference>Qty_sq_m_num</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Value__c</field>
            <value>
                <elementReference>Quoted_rate_per_sq_m_curr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Jalasanchya_Not_Interested</name>
        <label>Create Product Jalasanchya Not Interested</label>
        <locationX>760</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Show_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Competitor_price_per_sq_m__c</field>
            <value>
                <elementReference>Competitor_price_per_sq_m</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_with_Tehsil__c</field>
            <value>
                <elementReference>Dealer_with_Tehsil.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jalasanchay_Product_Type__c</field>
            <value>
                <elementReference>Product_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Lost_to__c</field>
            <value>
                <elementReference>Enquiry_Lost_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Lost_Reason__c</field>
            <value>
                <elementReference>Other_Lost_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pondliner_Size_Requested_Required_Sq_Mt__c</field>
            <value>
                <elementReference>Qty_sq_m_num</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Value__c</field>
            <value>
                <elementReference>Quoted_rate_per_sq_m_curr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_lost_to_which_competitor__c</field>
            <value>
                <elementReference>Sale_lost_to_which_competitor</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Retail_Contact_Later</name>
        <label>Create Product Retail Contact Later</label>
        <locationX>1216</locationX>
        <locationY>125</locationY>
        <connector>
            <targetReference>Show_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Address_Landmark__c</field>
            <value>
                <elementReference>Address_Landmark</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>At_Post_Village__c</field>
            <value>
                <elementReference>At_Post_Village</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_up_Date__c</field>
            <value>
                <elementReference>Follow_Up_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>Enquiry_Stage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pincode__c</field>
            <value>
                <elementReference>Pincode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>Remarks1</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Retail_Interested</name>
        <label>Create Product Retail Interested</label>
        <locationX>1008</locationX>
        <locationY>234</locationY>
        <connector>
            <targetReference>Show_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Address_Landmark__c</field>
            <value>
                <elementReference>Address_Landmark1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>At_Post_Village__c</field>
            <value>
                <elementReference>At_Post_Village1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Murughas_Bag_Qty__c</field>
            <value>
                <elementReference>Qty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>Enquiry_Stage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pincode__c</field>
            <value>
                <elementReference>Pincode1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sold_Date__c</field>
            <value>
                <elementReference>Product_Sold_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>Remarks2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retail_Product_Type__c</field>
            <value>
                <elementReference>ChoiceProduct.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retail_Product__c</field>
            <value>
                <elementReference>ChoiceProduct.topValue</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Retail_Not_Interested</name>
        <label>Create Product Retail Not Interested</label>
        <locationX>1084</locationX>
        <locationY>23</locationY>
        <connector>
            <targetReference>Show_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Lost_to__c</field>
            <value>
                <elementReference>Enquiry_Lost_Reason1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>Enquiry_Stage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Lost_Reason__c</field>
            <value>
                <elementReference>Enquiry_Lost_Other_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>Remarks</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead_Details</name>
        <label>Get Lead Details</label>
        <locationX>249</locationX>
        <locationY>140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Information</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Lead__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Pincode__c</queriedFields>
        <queriedFields>At_Post_Village__c</queriedFields>
        <queriedFields>Address__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Contact_Later</name>
        <label>Contact Later</label>
        <locationX>503</locationX>
        <locationY>299</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Product_Contact_Later</targetReference>
        </connector>
        <fields>
            <name>Follow_Up_Date1</name>
            <dataType>Date</dataType>
            <fieldText>Follow Up Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dealer1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Dealer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Dealer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>At_Post_Village2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead_Details.At_Post_Village__c</elementReference>
            </defaultValue>
            <fieldText>At Post/Village</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Pincode2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead_Details.Pincode__c</elementReference>
            </defaultValue>
            <fieldText>Pincode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Landmark2</name>
            <defaultValue>
                <stringValue>{!Get_Lead_Details.Address__c}</stringValue>
            </defaultValue>
            <fieldText>Address Landmark</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Later1</name>
        <label>Contact Later</label>
        <locationX>930</locationX>
        <locationY>125</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Product_Retail_Contact_Later</targetReference>
        </connector>
        <fields>
            <name>Follow_Up_Date</name>
            <dataType>Date</dataType>
            <fieldText>Follow Up Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Remarks1</name>
            <fieldText>Remarks</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>At_Post_Village</name>
            <defaultValue>
                <stringValue>{!Get_Lead_Details.At_Post_Village__c}</stringValue>
            </defaultValue>
            <fieldText>At Post/Village</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Pincode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead_Details.Pincode__c</elementReference>
            </defaultValue>
            <fieldText>Pincode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Landmark</name>
            <defaultValue>
                <stringValue>{!Get_Lead_Details.Address__c}</stringValue>
            </defaultValue>
            <fieldText>Address Landmark</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>1138</locationX>
        <locationY>545</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMeaasge</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 51, 51);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;&lt;span style=&quot;color: rgb(231, 51, 51); font-size: 16px;&quot;&gt;Something Wrong. Please try again!!!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Interested</name>
        <label>Interested</label>
        <locationX>508</locationX>
        <locationY>490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Product_Information</targetReference>
        </connector>
        <fields>
            <name>At_Post_Village3</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead_Details.At_Post_Village__c</elementReference>
            </defaultValue>
            <fieldText>At Post/Village</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Pincode3</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead_Details.Pincode__c</elementReference>
            </defaultValue>
            <fieldText>Pincode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Landmark3</name>
            <defaultValue>
                <stringValue>{!Get_Lead_Details.Address__c}</stringValue>
            </defaultValue>
            <fieldText>Address Landmark</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Size_of_Pond_LxWxD</name>
            <dataType>String</dataType>
            <fieldText>Size of Pond (LxWxD)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dealer</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Dealer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Dealer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Follow_Up_Date2</name>
            <dataType>Date</dataType>
            <fieldText>Follow Up Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Interested1</name>
        <label>Interested</label>
        <locationX>818</locationX>
        <locationY>233</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Product_Interested_Details</targetReference>
        </connector>
        <fields>
            <name>ChoiceProduct</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Opportunity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Product__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Retail_Product_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Product</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Product Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>RetailProduct</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>At_Post_Village1</name>
            <defaultValue>
                <stringValue>{!Get_Lead_Details.At_Post_Village__c}</stringValue>
            </defaultValue>
            <fieldText>At Post/Village</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Pincode1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead_Details.Pincode__c</elementReference>
            </defaultValue>
            <fieldText>Pincode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Landmark1</name>
            <defaultValue>
                <stringValue>{!Get_Lead_Details.Address__c}</stringValue>
            </defaultValue>
            <fieldText>Address Landmark</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Jalasanchay_Product_Information</name>
        <label>Jalasanchay Product Information</label>
        <locationX>145</locationX>
        <locationY>525</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stage_Decision</targetReference>
        </connector>
        <fields>
            <name>Stage</name>
            <choiceReferences>JalasanchayStage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quoted_rate_per_sq_m_curr</name>
            <dataType>Currency</dataType>
            <fieldText>Quoted rate per sq m</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Product_Type</name>
            <choiceReferences>JalasanchyaProduct</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Qty_sq_m_num</name>
            <dataType>Number</dataType>
            <fieldText>Qty (sq m)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Dealer_with_Tehsil</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Dealer With Tehsil</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Dealer_with_Tehsil__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Jalasanchya_Converted_Error</name>
        <label>Jalasanchya Converted Error</label>
        <locationX>335</locationX>
        <locationY>578</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>JalasachayConvertedError</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(221, 55, 55);&quot;&gt;Can&apos;t select &quot;Converted&quot; when creating a record!!!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lost_Reason</name>
        <label>Lost Reason</label>
        <locationX>631</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Product_Jalasanchya_Not_Interested</targetReference>
        </connector>
        <fields>
            <name>Enquiry_Lost_Reason</name>
            <choiceReferences>JalasanchayEnquiryLostReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sale Lost Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Sale_lost_to_which_competitor</name>
            <dataType>String</dataType>
            <fieldText>Sale lost to which competitor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Competitor_price_per_sq_m</name>
            <dataType>Currency</dataType>
            <fieldText>Competitor price per sq m</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Other_Lost_Reason</name>
            <fieldText>Other Lost Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Interested</name>
        <label>Not Interested</label>
        <locationX>825</locationX>
        <locationY>23</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Product_Retail_Not_Interested</targetReference>
        </connector>
        <fields>
            <name>Enquiry_Lost_Reason1</name>
            <choiceReferences>JalasanchayEnquiryLostReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sale Lost Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enquiry_Lost_Other_Reason</name>
            <fieldText>Sale Lost Other  Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Remarks</name>
            <fieldText>Remarks</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Information</name>
        <label>Product Information</label>
        <locationX>148</locationX>
        <locationY>182</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Record_Type_Decision</targetReference>
        </connector>
        <fields>
            <name>Record_Type</name>
            <choiceReferences>RecordTypeSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Record Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Interested_Details</name>
        <label>Product Interested Details</label>
        <locationX>913</locationX>
        <locationY>235</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Product_Retail_Interested</targetReference>
        </connector>
        <fields>
            <name>Qty</name>
            <dataType>Number</dataType>
            <fieldText>Qty</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Product_Sold_Date</name>
            <dataType>Date</dataType>
            <fieldText>Product Sold Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Remarks2</name>
            <fieldText>Remarks</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retail_Product_Converted_Error</name>
        <label>Retail Product Converted Error</label>
        <locationX>648</locationX>
        <locationY>24</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RetailConverted</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(224, 43, 43);&quot;&gt;Can&apos;t select &quot;Converted&quot; when creating a record!!!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retail_Products_Page</name>
        <label>Retail Products Page</label>
        <locationX>506</locationX>
        <locationY>123</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stage_Decision_for_Retail_Products</targetReference>
        </connector>
        <fields>
            <name>Enquiry_Stage</name>
            <choiceReferences>JalasanchayStage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Message</name>
        <label>Success Message</label>
        <locationX>1238</locationX>
        <locationY>445</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p class=&quot;ql-indent-5&quot;&gt;&lt;span style=&quot;color: rgb(39, 124, 8); font-size: 16px;&quot;&gt;Record Successfully Created&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Lead_Details</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
