force-app/main/default/flows/WarrantyuploadedDateAutomation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>WarrantyDocsDecision</name>
        <label>WarrantyDocsDecision</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WarrantyDocsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Warranty_Documents_Uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WarrantyDocsDate</targetReference>
            </connector>
            <label>WarrantyDocsTrue</label>
        </rules>
        <rules>
            <name>WarrantyDocsFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Warranty_Documents_Uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>warrantyDocsDateBlank</targetReference>
            </connector>
            <label>WarrantyDocsFalse</label>
        </rules>
    </decisions>
    <formulas>
        <name>Nullvalue</name>
        <dataType>Date</dataType>
        <expression>Null</expression>
    </formulas>
    <interviewLabel>WarrantyuploadedDateAutomation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WarrantyuploadedDateAutomation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>WarrantyDocsDate</name>
        <label>WarrantyDocsDate</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Warranty_Documents_Received_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>warrantyDocsDateBlank</name>
        <label>warrantyDocsDateBlank</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Warranty_Documents_Received_Date__c</field>
            <value>
                <elementReference>Nullvalue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>WarrantyDocsDecision</startElementReference>
    <status>Active</status>
</Flow>
