force-app/main/default/flows/WarrantyIssued.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotEqualstoSilvasa</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dispatch_From_new__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Aurangabad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dispatch_From_new__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Sri Ganganagar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dispatch_From_new__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Nashik</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dispatch_From_new__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Pune</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateFalse</targetReference>
            </connector>
            <label>NotEqualstoSilvasa</label>
        </rules>
        <rules>
            <name>Warranty_Done</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Warranty_Done_Hard_Copy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dispatch_From_new__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Silvasa Factory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateTrue</targetReference>
            </connector>
            <label>Warranty Done</label>
        </rules>
    </decisions>
    <formulas>
        <name>False</name>
        <dataType>Boolean</dataType>
        <expression>FALSE</expression>
    </formulas>
    <formulas>
        <name>Null</name>
        <dataType>String</dataType>
        <expression>Null</expression>
    </formulas>
    <formulas>
        <name>True</name>
        <dataType>Boolean</dataType>
        <expression>TRUE</expression>
    </formulas>
    <interviewLabel>WarrantyIssued {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WarrantyIssued</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateFalse</name>
        <label>UpdateFalse</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Warranty_Card_Issued__c</field>
            <value>
                <elementReference>False</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateTrue</name>
        <label>updateTrue</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Warranty_Card_Issued__c</field>
            <value>
                <elementReference>True</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>Decision</startElementReference>
    <status>Obsolete</status>
</Flow>
